In [ ]:
#task_1 (a)
counter = 24
 
while counter >= -6:
    
    if counter == -6:
        print(counter, end = "") 
    else:
        print(counter, end = ", ") 
     
    counter = counter - 6

24, 18, 12, 6, 0, -6

In [ ]:
#task_1 (b)  -10, -5, 0, 5, 10, 15, 20
count = -10

while count <= 20:

  if count == 20:
    print(count, end = "")
  else:
    print(count,end=", ")

  count += 5

-10, -5, 0, 5, 10, 15, 20

In [ ]:
#task_1 (c) 18, 27, 36, 45, 54, 63

count = 18

while count <= 63:

  if count == 63:
    print(count, end = " ")
  else:
    print(count,end=', ')

  count += 9

18, 27, 36, 45, 54, 63

In [ ]:
#task_1 (d) 18, -27, 36, -45, 54, -63

count = 18

while count <= 63:

  if count == 63:
    print(-count, end = " ")
  else:
    if count % 2 != 0:
      print((count * -1),end=', ')
    else:
      print(count,end=', ')

  count += 9

18, -27, 36, -45, 54, -63

In [ ]:
#task_2 

car = input("Please enter your favourite car: ")
n = int(input("Enter a number: "))
for i in range (n):
  print(car)

Please enter your favourite car: prius
Enter a number: 2
prius
prius

In [ ]:
#task_3

sum = 0

for i in range (1,601):
  if i % 7 == 0 and i % 9 == 0:
    sum += i
print(sum)

2835

In [ ]:
#task_4

sum = 0

for i in range (1,601):
  if (i%7==0 or i%9==0) and (i%7 != i%9):
    sum += i
print(sum)

39814

In [ ]:
#task_5

for i in range (10,51):
  if i % 2 != 0:
    print(i, end=" ")

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
#task_6 

y = 0

n = int(input())

for i in range(n+1):

  if i%2 != 0:
    y+=(i**2)
  else:
    y-=(i**2)
    
print(y)

20
-210

In [ ]:
#task_7

sum = 0

x = 0

for i in range (10):

  n = int(input())
  if n % 2 != 0:
    sum +=n
    x += 1
avg = sum/x

print(f"The total of the odd numbers is {sum} and their average is {avg}")

1
2
4
3
5
6
7
8
9
10
The total of the odd numbers is 25 and their average is 5.0

In [ ]:
#task_8 problem in understanding starts from here

N = int(input("Enter a number: "))

sum = 0

for i in range (N+1):
  
  if i % 7 == 0:
    sum += i
    
print(sum)

Enter a number: 75
385

In [ ]:
#task_9

i = 0

sum = 0

for i in range(5):

  a = int(input("Please enter a number: "))
  sum += a
  
  print(sum)

Please enter a number: 1
1
Please enter a number: 2
3
Please enter a number: 3
6
Please enter a number: 4
10
Please enter a number: 5
15

In [ ]:
#task_10

i = int(input("Please enter a number: ")) 

while i: 
    if i // 10 == 0:
      print(i % 10, end=' ')
    else:
      print(i % 10, end=', ')
    i //= 10

Please enter a number: 32768
8, 6, 7, 2, 3

In [ ]:
#task_11

i = int(input("Please enter a number: ")) 
count =0
while i: 
    count += 1
    i //= 10
print(count)

Please enter a number: 9876
4

In [ ]:
#task_12

i = int(input("Please enter a number: "))
num = i
count = 0
while i: 
    count += 1
    i //= 10
while count > 0:
    count -= 1
    d = num // 10 ** count
    num = num % 10 ** count
    if num % 10 == 0:
      print(d, end="")
    else:
      print(d, end = ", ")

Please enter a number: 32768
3, 2, 7, 6, 8

In [ ]:
#task_13

num = int(input('Enter the value of num: '))
count=0
for i in range(1, num+1):
  if num % i == 0:
    count+=1
    if i!=num:
      print(i,)#end = ',')
    else:
      print(i)
print("Total", count, "divisors")

Enter the value of num: 121
1
11
121
Total 3 divisors

In [ ]:
#task_14

sum = 0
n = int(input())
for i in range(1, n):
  if n % i == 0:
    sum += i
if (sum == n):
  print(f"{n} is a perfect number")
else:
  print(f"{n} is not a perfect number")

33
33 is not a perfect number

In [ ]:
#task_15

num = int(input())
if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
else:
   print(num,"is not a prime number")

6
6 is not a prime number

In [ ]:
#task_16

q = int(input())
min = 0
max = 0
sum = 0
for i in range(q):
   num = int(input())
   if (i == 0):
       min = num
   if (num < min ):
       min = num
   if (num > max):
       max = num
   sum += num
avg = sum/q
print("Maximum", max)
print("Minimum", min)
print("Average is", avg)

5
10
4
-1
-100
1
Maximum 10
Minimum -100
Average is -17.2

In [ ]:
#task_17

n = int(input("Enter number of rows: "))
for i in range(1, n + 1):
    for j in range(1, n + 1):
        if j <= i:
            print('+', end='')
        else:
            print('+', end='')
    print()

Enter number of rows: 5
+++++
+++++
+++++
+++++
+++++

In [ ]:
#task_18

M = int(input("Enter number of height: "))
N = int(input("Enter number of length: "))
for i in range(1, M + 1):
    for N in range(1, N + 1):
        if N <= i:
            print(N , end='')
        else:
            print(N , end='')
    print()

Enter number of height: 4
Enter number of length: 6
123456
123456
123456
123456

In [ ]:
#task_19 different stream

n = int(input("Enter number of rows: "))
for i in range(1,n+1):
    for j in range(1, i+1):
        print(j, end="") #"*", end="")
    print()

Enter number of rows: 5
1
12
123
1234
12345

In [ ]:
#task_20 Tracing starts from here and continues to #task_24

In [ ]:
#task_25
# take user input for N
N = int(input("Enter the value of N: "))

# initialize variables for first two Fibonacci numbers
fib1 = 0
fib2 = 1

# print the first Fibonacci number
print(fib1, end=' ')

# print the second Fibonacci number if N is greater than or equal to 2
if N >= 2:
    print(fib2, end=' ')

# loop through the remaining Fibonacci numbers and print them
for i in range(2, N):
    fib = fib1 + fib2
    if fib > N:
        break
    print(fib, end=' ')
    fib1 = fib2
    fib2 = fib

Enter the value of N: 15
0 1 1 2 3 5 8 13

In [ ]:
#task_26

num = int(input())
bin = ""

while num>0:
  extract = num % 2
  bin += str(extract)

  num //= 2

print(bin[ : :-1])

11
1011

In [ ]:
#task_26 Using function

# Python function to take the decimal input and return its binary notation

#####Function starts here
def convertToBinary(decimal):

 while decimal > 0:
     value = int(decimal % 2)
     decimal = int(decimal / 2)
     nbin.append(value)
 nbin.reverse()
 return nbin
# since the Binary value may be too large for certain numbers so I used Char array to store the Binary value
#####Function ends here

#####Driver program
dec = int(input("Enter Decimal Number :"))
nbin=[]
nbin = convertToBinary(dec)
print("Binary value is ", end=": ")
for x in nbin:
    print(x, end='')

Enter Decimal Number :13
Binary value is : 1101

In [ ]:
#task_26 solve using list

dnum = int(input("Enter the Decimal Number: "))
i = 0
bnum = []
while dnum!=0:
    rem = dnum%2
    bnum.insert(i, rem)
    i = i+1
    dnum = int(dnum/2)

i = i-1
print("\nEquivalent Binary Value is:")
while i>=0:
    print(end=str(bnum[i]))
    i = i-1
print()

In [ ]:
#task_26 Decimal to Binary without List(the simplest form)

dnum = int(input("Enter Decimal Number: "))

bnum = 0
mul = 1
while dnum>0:
    rem = dnum%2
    bnum = bnum+(rem*mul)
    mul = mul*10
    dnum = int(dnum/2)

print("\nEquivalent Binary Value:", bnum)

Enter Decimal Number: 13

Equivalent Binary Value: 1101

In [ ]:
#task 27
num = input()
dec = 0

for i in range(len(num)):
  num_int = num[i]
  dec += int(num_int)*(2**(len(num)-i-1))


print(dec)

11101
29

In [ ]:
#task_28

# take user input for range
start_num = int(input("Enter starting number: "))
end_num = int(input("Enter ending number: "))

# initialize counters and lists
prime_count = 0
perfect_count = 0
prime_list = []
perfect_list = []

# loop through the range and count prime and perfect numbers
for num in range(start_num, end_num+1):
    # check for prime number
    is_prime = True
    if num < 2:
        is_prime = False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_count += 1
        prime_list.append(str(num))
    
    # check for perfect number
    divisors = [1]
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            divisors.append(i)
            if i != num // i:
                divisors.append(num // i)
    if sum(divisors) == num:
        perfect_count += 1
        perfect_list.append(str(num))

# print the results
print(f"Between {start_num} and {end_num},")
print(f"Found {prime_count} prime numbers")
print(f"Found {perfect_count} perfect numbers")
print(f"Prime numbers: {', '.join(prime_list)}")
print(f"Perfect number: {', '.join(perfect_list)}")

Enter starting number: 2
Enter ending number: 6
Between 2 and 6,
Found 3 prime numbers
Found 1 perfect numbers
Prime numbers: 2, 3, 5
Perfect number: 6

In [ ]:
#Task 29

start = int(input())
end = int(input())

gg = int(input())

for i in range(start, end+1):
  br = str(i)
  mul = 1
  for j in br:
    mul *= int(j)

  if mul % gg == 0:
    print(mul,end=" ")

351
356
9
45 90