In [1]:
#task_1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [2]:
#task_2;method for taking a tuple as an input
tpl = tuple(int(item) for item in input('Enter Tuple: ')[1:-1].split(', '))
tpl = tpl[2:-2]
print(tpl)

Enter Tuple: (10, 20, 24, 25, 26, 35, 70)
(24, 25, 26)

In [5]:
#task_2 **** very good
usr_inp = input('Enter Tuple: ')[1:-1].split(', ')
lit = []
for item in usr_inp:
  lit.append(int(item))
tup = tuple(lit)
mod_tup = tup[2:-2]
print(mod_tup)

Enter Tuple: (-10, 20, 25, 30, 40)
(25,)

In [ ]:
#task_2
given_tup = (-10, 20, 25, 30, 40)
print(given_tup[2:-2])

(25,)

In [ ]:
#task_3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(f"Size of the tuple is: {len(book_info)}")
for item in book_info:
  print(item)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#task_4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for item in book_info:
  category,name,votes = item#this process is called unpacking
  print(f"{name} won the '{category}' category with {votes} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [6]:
#task_5
given_tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
user = int(input("Enter a num: "))
count = 0
for i in given_tup:
  if i == user:
    count += 1
print(f"{user} appears {count} times in the tuple")

Enter a num: 8
8 appears 4 times in the tuple

In [8]:
#task_6
tpl = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
new = []
for i in range (len(tpl)-1,0-1,-1):
  new.append(tpl[i])
new = tuple(new)
print(new)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#task7 jubii
x = {'Harry':15, 'Draco':8, 'Nevil':19}
y = {'Ginie':18, 'Luna': 14}
marks = x.copy()
marks.update(y)
print(marks)

In [ ]:
#task_7 me
a_dict={'Harry':15, 'Draco':8, 'Nevil':19}
b_dict={'Ginie':18, 'Luna': 14}
n_dict = {}
n_dict.update(a_dict)
n_dict.update(b_dict)
print(n_dict)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#task_8 jubii ******very gooddo
s = input("Enter a dictionary: ").split(', ')
d = {}
n = []
for i in s:#here i is a volume of a pair
  i = i.split(':')
  for j in i:
    n.append(j)
n2 = []
for i in range(len(n)):#this loop is for converting string numbers into integers
  if i % 2 != 0:#from the list n taking characters in odd position which are numbers/values
    n[i] = int(n[i])#converting them into integers
    n2.append(n[i])#or n2.append(int(n[i]))
  else:
    n2.append(n[i])#adding as it is(string)
value = []
for i in range(len(n2)):#this loop is for collecting only the integers
  if type(n2[i]) == int:
    value.append(n2[i])#making a list with only the integers/values from the dict
sum = 0
count = 0
for i in value:
  sum += i
  count += 1
avg = sum/count
print(f"Average is {int(avg)}.")
 
#Jon:100, Dan:200, Rob:300

Enter a dictionary: Jon:100, Dan:200, Rob:300
Average is 200.

In [ ]:
#task_8 me *
# Taking input from the user
user_input = input("Enter a dictionary with keys and values separated by colons and key-value pairs separated by commas: ")

# Parsing the user input to create a dictionary
my_dict = {}
for item in user_input.split(","):
    key, value = item.split(":")
    my_dict[key] = int(value)

# Calculating the average of all the values in the dictionary
total = 0
count = 0
for value in my_dict.values():
    total += value
    count += 1
average = total / count

# Printing the average
print(f"Average is {average}.")

Enter a dictionary with keys and values separated by colons and key-value pairs separated by commas: Jon:100, Dan:200, Rob:300
Average is 200.0.

In [ ]:
#task9 jubii
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
n = int(input("Enter a mark: "))
dic = {}
for i in exam_marks.keys():#here i goes by keys
  if exam_marks[i] >= n:#dictionary square bracket keys, represents a value 
    dic[i] = exam_marks[i]#the right part of the equal sign represents previous dictionary value whereas
  else:# the left part is new dictionary key being assigned a value
    pass
print(dic)

Enter a mark: 170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [10]:
#task 9 me ****
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

# Take input from the user
user_input = int(input("Enter a number: "))

# Create a new dictionary with only those elements whose values are higher than or equal to user input
new_dict = {}
for key, value in exam_marks.items():
  if value >= user_input:
    new_dict[key] = value
  else:
    continue

# Print the new dictionary
print(new_dict)

Enter a number: 190
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#task 9 me modified *
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
user_input = int(input("Enter a number: "))
new_dict = {}
for key, value in exam_marks.items():
  if value >= user_input:
    new_dict[key] = value
  else:
    pass
print(new_dict)

Enter a number: 170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#task10 jubii
# given = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
given = {'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9} #Both given inputs work
value = given.values()
max = 0
for i in value:
  if i >= max:
    max = i
  else:
    pass
for i in given:#by default the loop goes by key wise
  if given[i] == max:#dictionary[key] represents a value.
    print(f"The highest selling book genre is '{i}' and the number of books sold are {max}.")

The highest selling book genre is 'horror' and the number of books sold are 14.

In [ ]:
#task10 me 
#book_genres = {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure': 14}#sample 1
book_genres = {'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
max_genre = ""
max_count = 0

for genre, count in book_genres.items():
    if count > max_count:
        max_genre = genre
        max_count = count

print("The highest selling book genre is '{}' and the number of books sold are {}.".format(max_genre, max_count))

The highest selling book genre is 'horror' and the number of books sold are 14.

In [ ]:
#task11 jubii this one must be followed *
s = input("Enter a string using quotes: ")[1:-1].lower()
dic = {}
for i in s:
  if i == ' ':
    pass
  elif i in dic.keys():
    dic[i] += 1
  else:
    dic[i] = 1
print(dic)

Enter a string using quotes: "Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#task11 me
user_string = input("Enter a string: ")
char_freq = {}
#removing the quotes
user_string = user_string[1:-1]

# convert the string to lowercase to ignore case
user_string = user_string.lower()

# loop through each character in the string
for char in user_string:
    # check if the character is already in the dictionary
    if char == " ":
      pass
    elif char in char_freq:
        # if yes, increment the count by 1
        char_freq[char] += 1#char_freq[char] = char_freq[char] + 1;same thing,on the right it's a value,left it's a key
    else:
        # if no, add the character to the dictionary with a count of 1
        char_freq[char] = 1

print(char_freq)

Enter a string: "Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#task12 jubii
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count = 0
for i in dict_1.values():#here i represents the values which is lists
  for j in i:
    count += 1
print(count)

9

In [ ]:
#task12 me *
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], 'c': [4, 5, 6, 7]}

# initialize the counter variable to 0
count = 0

# loop through each key-value pair in the dictionary
for key, value in dict_1.items():
    # loop through each item in the value list
    for item in value:#here value is a list
        # increment the counter variable by 1 for each item
        count += 1

print(count)

9

In [11]:
#task13 jubii *
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dic = {}
for item in list_1:
  key,value = item#unpacking by key, value wise
  if key in dic:
    dic[key].append(value)#dic[key] represents a value which is a list
    continue#skips the line under;works as if else
  else:
    dic[key] = [value]#turning the value into a list
print(dic)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#task 13 me
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

# create an empty dictionary to store the key-value pairs
dict_1 = {}

# loop through each tuple in the list
for item in list_1:
    # if the key is not already in the dictionary, add it with an empty list as the value
    if item[0] not in dict_1:
      dict_1[item[0]] = []#here value is an empty dict
    # append the value to the list of values for the corresponding key
    else:
      dict_1[item[0]].append(item[1])

# print the resulting dictionary
print(dict_1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#task 15 me
given = [(2, 3), (4, 5), (6, 7), (2, 8)]
l = []
for i in given:
  k,v = i
  m = k*v
  l.append(m)
print(l)

[6, 20, 42, 16]

In [13]:
#task 16 me
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
user_input = input("Enter the value to be set as last element of each inner list: ")
n_li = []
for inner_list in a_tuple:
  n_li.append(inner_list[:-1] + [user_input])
new_tuple = tuple(n_li)
print(new_tuple)

Enter the value to be set as last element of each inner list: abc
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

In [ ]:
#task 17 me
# given dictionary
my_dictionary = {'c1': 'Red', 'c2': 'Green', 'c3': None, 'd4': 'Blue', 'a5': None}

# create a new dictionary to store non-empty items
new_dict = {}

# iterate over each item in the given dictionary
for key, value in my_dictionary.items():
    # check if the value is not None
    if value is not None:
        # add the item to the new_dict
        new_dict[key] = value

# print the output
print(new_dict)

In [ ]:
#task 18 me
# given dictionary
dict_1 = {'a': 6, 'b': 7, 'c': 9, 'd': 8, 'e': 11, 'f': 12, 'g': 13}

# take lower and upper range values as input from the user
lower, upper = map(int, input("Enter the lower and upper range values (inclusive and exclusive respectively) separated by a space: ").split())

# create an empty dictionary to store the results
result_dict = {}

# iterate over each item in the given dictionary
for key, value in dict_1.items():
    # check if the value is within the range given by the user
    if value >= lower and value < upper:
        # add the item to the result_dict
        result_dict[key] = value

# print the output
print(result_dict)

In [ ]:
#task 19 me
# given list of tuples
tuples_list = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]

# create an empty dictionary to store the results
result_dict = {}

# iterate over each tuple in the list
for tup in tuples_list:
    # get the second element of the tuple
    second_element = tup[1]
    # add the tuple to the corresponding key in the result_dict
    if second_element not in result_dict:
        result_dict[second_element] = [tup]
    else:
        result_dict[second_element].append(tup)

# print the output
print(result_dict)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}

In [14]:
#task 20 me
input_str = input("Enter a sentence or multiple sentences separated by full stops: ")
special_chars = input("Enter a list of special characters: ").split()

# split the input string into individual words
words = input_str.split()

# create an empty dictionary to store the results
result_dict = {}

# iterate over each word and calculate its index value in the special_chars list
for word in words:
    # calculate the ASCII sum of the word
    #sum
    #ascii_sum = sum(ord(c) for c in word)
    ascii_sum = 0
    for c in word:
      ascii_sum = ascii_sum + ord(c)
    # calculate the index value of the word in the special_chars list
    index = ascii_sum % len(special_chars)
    # add the word to the corresponding key in the result_dict
    if index not in result_dict:
        result_dict[index] = [word]
    elif word not in result_dict[index]:
        result_dict[index].append(word)

# print the output
print("Words in the given string:", words)
print("Answer:", result_dict)

Enter a sentence or multiple sentences separated by full stops: I love Programming. Python is love.
Enter a list of special characters: ['@', '$', '&', '#']
Words in the given string: ['I', 'love', 'Programming.', 'Python', 'is', 'love.']
Answer: {1: ['I', 'Programming.'], 2: ['love', 'Python'], 0: ['is', 'love.']}