In [ ]:
#task1
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
sum = num1 + num2
sub = num1 - num2
prod = num1 * num2


print(f"""
{sum}
{sub}
{prod}
""")

Enter first number: 4
Enter second number: 5

9
20
1

In [ ]:
#task2

import math
radius = float(input("Please enter the radius of the circle: "))
area = math.pi * radius ** 2
circumference = 2 * math.pi * radius

print(f"Area is {area}")
print(f"Circumference  is {circumference}")

Please enter the radius of the circle: 3.5
Area is 38.48451000647496
Circumference  is 21.991148575128552

In [ ]:
#task3

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if num1 == num2:
  print("The numbers are equal")
else:
  if num1 > num2:
    print("First is greater")
  else:
    print("Second is greater")

Enter first number: 11
Enter second number: 11
The numbers are equal

In [ ]:
#task4

num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
if num1 >= num2:
  result = num1 - num2
  print(result)
else:
  result = num2 - num1
  print(result)

Please enter the first number: 5
Please enter the second number: 5
0

In [ ]:
#task5
num = int(input("Enter a number: "))
if num % 2 == 0 :
  print("The number is even")
else:
  print("The number is odd")

Enter a number: -44
The number is even

In [ ]:
#task6

num = int(input("Please enter a number: "))
if num % 2 == 0 or num % 5 == 0:
  print(num)
else:
  print("Not a multiple of 2 OR 5")

Please enter a number: 3
Not a multiple of 2 OR 5

In [ ]:
#task7


num = int(input("Please enter a number "))
if num % 2 == 0 and num % 5 == 0:
  print("Multiple of 2 and 5 both.")
elif num % 2 == 0 or num % 5 == 0:
  print(num)
else:
  print("Not a multiple we want")

Please enter a number 10
Multiple of 2 and 5 both.

In [ ]:
#task8


num = int(input("Please enter a number "))
if num % 2 == 0 and num % 5 == 0:
  print(num)
else:
  print("Not a multiple of 2 AND 5 both")

Please enter a number 16
Not a multiple of 2 AND 5 both

In [ ]:
#task9

num = int(input("Please enter a number "))
hours = num // 3600
x = num % 3600
minutes = x // 60
seconds = x % 60
print(f"Hours: {hours} Minutes: {minutes} Seconds: {seconds}")

In [ ]:
#task10

hours = int(input("Please enter your salary: "))
if hours < 0:
  print("Hour cannot be negative")
elif hours > 168:
  print("Impossible to work more than 168 hours weekly")  
else:
  if hours <= 40:
    total_salary = hours * 200
    print(total_salary)
  elif hours > 40:
    total_salary = 8000 + (hours-40) * 300
    print(total_salary)

Please enter your salary: 170
Impossible to work more than 168 hours weekly

In [ ]:
#task11

S = int(input("Please enter a number: "))
if S < 100:
  L = float(3000 - 125 * S ** 2)
  print(int(L))
else:
  L = float(12000 / (4 + S ** 2 / 14900))
  print(L)

Please enter a number: 3
1875

In [ ]:
#task12

time = int(input("Please enter time: "))
if 0 <= time < 24:
  if time >= 4 and time <=6:
    print("Breakfast")
  elif time == 12 or time == 13:
    print("Lunch")
  elif time == 16 or time == 17:
    print("Snacks")
  elif time == 19 or time == 20:
    print("Dinner")
  else: 
    print("Patience is a virtue")
else:
  print("Wrong Time")

Please enter time: 19
Dinner

In [ ]:
#task13
marks = float(input("Please enter your marks: "))
if 0 <= marks <= 100:
   
  if marks >= 90:
    print("A")
  elif 80 <= marks <= 89:
    print("B")
  elif 70 <= marks <= 79:
    print("C")
  elif 60 <= marks <= 69:
    print("D")
  elif 50 <= marks <= 59:
    print("E")
  else:
    print("F")

else:
  print("Invalid input")

Please enter your marks: 110
Invalid input

In [ ]:
#task14
distance = int(input("Distance: "))
time = int(input("Time: "))
dis_km = distance / 1000
tim_hr = time / 3600
velocity = dis_km / tim_hr
print(f"{float(velocity)} km/h")
if velocity < 60 :
  print("Too slow. Needs more changes")
elif velocity >= 60 and velocity <= 90:
  print("Velocity is okay. The car is ready!")
else:
  print("Too fast. Only a few changes should suffice.")

Distance: 160000
Time: 7200
80.0 km/h
Velocity is okay. The car is ready!

In [ ]:
#task15
cgpa = float(input("Enter your CGPA: "))
credit = int(input("Enter your total credit: "))
if cgpa > 4.00 :
  print("Not acceptable")
else:
  if cgpa >= 3.80 and credit >= 30:
  
    if cgpa >= 3.80 and cgpa <= 3.89:
      print("The student is eligible for a waiver of 25 percent.")
    elif cgpa >= 3.90 and cgpa <= 3.94:
      print("The student is eligible for a waiver of 50 percent.")
    elif cgpa >= 3.95 and cgpa <= 3.99:
      print("The student is eligible for a waiver of 75 percent.")
    elif cgpa == 4.00 :
      print("The student is eligible for a waiver of 100 percent.")

  else:
    print("The student is not eligible for a waiver")

Enter your CGPA: 3.79
Enter your total credit: 24
The student is not eligible for a waiver

In [ ]:
cgpa = float(input("Enter your CGPA: "))
credit = int(input("Enter your total credit: "))
if cgpa > 4.00:
  print("Not acceptable")
else:
  if cgpa >= 3.80 and credit >= 30:

    if cgpa >= 3.80 and cgpa <= 3.89:
      print("The student is eligible for a waiver of 25 percent.")
    elif cgpa >= 3.90 and cgpa <= 3.94:
      print("The student is eligible for a waivver of 50 percent.")
    elif cgpa >= 3.95 and cgpa <= 3.99:
      print("The student is eligible for a waiver of 75 percent.")
    elif cgpa == 4.00:
      print("The student is eligible for a waiver of 100 percent.")

  else:
    print("The student is not eligible for a waiver.")

In [ ]:
#task16


p = 5
q = 6
r = 9
sum = 0
if (p < 12):
    print(r + 2)
else:
    print(r + p)
if (q > 20):
    print(r + 19)
elif (q <= 6):
    print(q + 3)
else:
    print(p + q + r)
if (r > 15):
    print(r)
elif (r == 0):
    print(p + q)
else:
    print(p)
if (sum != 0):
    print(3)
else:
    print(sum + 32)
if (p>0 and r<10):
    print(p+r)
else:
    print(p-r)

In [ ]:
#task17

var1 = var2 = var3 = var4 = var5 = var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = 4 > 3 - 1
var2 = var1 and False
var3 = True
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 or var2) and (8 * 10 > 45)
result2 = (var1 or var2) and (result1 and False)
result3 = (var1 and result1) or result2
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or var2) and not(result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (var5 or var6)) and True
result9 = ((result2 and var2) or (result7 and var1)) and False
result10 = not(var1 and True)
print(f"{result1} {result2} {result3} {result4} {result5} {result6} {result7} {result8} {result9} {result10}")

In [ ]:
#task18

var1 = False
var2 = False
var3 = False
var4 = False
var5 = False
var6 = False
result1 = False
result2 = False
result3 = False
result4 = False
result5 = False
result6 = False
result7 = False
result8 = False
result9 = False
result10 = False
var1 = ((not True) or True) and False
var2 = var1 and False
var3 = True and not False
var4 = False
var5 = True
var6 = var3 and False
result1 = (var1 and var2) and (40 % 3) > 45 or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or (not var2)) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and ((not var5) or var6)) and True
result9 = ((result2 and var2) or ((not result7) and var1)) and not False
result10 = not(var1 and True)
print(f"{result1} {result2} {result3} {result4} {result5} {result6} {result7} {result8} {result9} {result10}")

In [ ]:
#task19


var1 = var2 = var3 = var4 = var5 = var6 = False 
result1 = result2 = result3 = result4 = result5 = result6 = False
result7 = result8 = result9 = result10 = False
var1 = (not False or False) and True
var2 = var1 and True
var3 = False and not True
var4 = True
var5 = False
var6 = var3 and True
result1 = (var1 and var2) and ( 40 % 3 > 45) or (var5 and var6)
result2 = (var1 or var2) or (result1 and False)
result3 = (var1 and result1) or result2 or var5
result4 = (var1 or var2) or ((var3 and var1) and False)
result5 = (var1 and var2) and (result3 or var1)
result6 = ((var3 or not var2) and (result5)) or True
result7 = (var4 and result1) and ((result1 and False) or True)
result8 = ((var1 and result3) and (not var5 or var6)) and True
result9 = ((result2 and var2) or (not result7 and var1)) and not False
result10 = not (var1 and True)
print(f"{result1} {result2} {result3} {result4} {result5} {result6} {result7} {result8} {result9} {result10}")

In [ ]:
#task20

num = int(input("Please enter a number "))
if not(num % 2 == 0 or num % 5 == 0):
  print(num)
else:
  print("No")

In [ ]:
num = int(input("Please enter a number: "))
if not(num % 2 == 0 or num % 5 == 0):
  print(num)
else:
  print("No")

In [ ]:
#task21

num = int(input("Please enter a number: "))
if num % 2 != 0 or num % 5 != 0:
  print(num)
else:
  print("No")

In [ ]:
num = int(input("Please enter a number: "))
if num % 2 != 0 or num % 5 != 0:
  print(num)
else:
  print("No")

In [ ]:
#task22

canvas = int(input("Enter the number of canvases: "))
paint = int(input("Enter the number of paint: "))
total = canvas * 120 + paint * 75
print("Previous total:",total)
if (total >= 0 and total <= 299):
  discount = 0
  print(f"New total after discount: {total - discount}")
elif (total >= 300 and total <= 499):
  discount = 10
  print(f"New total after discount: {total - discount}")
elif (total >= 500 and total <= 749):
  discount = 20
  print(f"New total after discount: {total - discount}")
elif (total >= 750 and total <= 999):
  discount = 50
  print(f"New total after discount: {total - discount}")
else:
  discount = 150
  print(f"New total after discount: {total - discount}")

Enter the number of canvases: 5
Enter the number of paint): 8
Previous total: 1200
New total after discount: 1050

In [ ]:
canvas = int(input("Enter the number of canvases: "))
paint = int(input("Enter the number of paint: "))
total = canvas * 120 + paint * 75
print("Previous total:", total)
if (total >= 0 and total <= 299):
  discount = 0
  print(f"New total after discount: {total - discount}")
elif (total >= 300 and total <= 499):
  discount = 10
  print(f"New total after discount: {total - discount}")
elif (total >= 500 and total <= 749):
  discount = 20
  print(f"New total after disount: {total - discount}")
elif (total >= 750 and total <= 999):
  discount = 50
  print(f"New total after discount: {total - discount}")
else:
  discount = 150
  print(f"New total after discount: {total - discount}")

In [ ]:
#task23


f = float(input("Please enter the temperature in degrees Fahrenheit: "))
c = (f -32)* 0.56
print(f"{c} degrees in C")
if c < 20:
  print("Winter")
elif c >=20 and c <=25:
  print("Autumn")
elif c > 25 and c < 30:
  print("Spring")
else: 
  print("Summer")

Please enter the temperature in degrees Fahrenheit: 82
28.000000000000004 degrees in C
Spring

In [ ]:
fahrenheit = float(input("Please enter the temperature in degrees fahrenheit: "))
celcius = (fahrenheit - 32) * 0.56
print(f"{celcius} degrees in C")
if celcius < 20:
  print("Winter")
elif celcius >= 20 and celcius <= 25:
  print("Autumn")
elif celcius > 25 and celcius < 30:
  print("Spring")
else:
  print("Summer")